@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  position:sticky;
  background-image: linear-gradient(45deg, #7950f2 5%, #748ffc 95%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  z-index: 100;
 
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(42, 34, 34, 0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #3965ab;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display:block ;
  }
  nav .cancel-icon.show{
    display: none;
  }
}
.img-main{
  width: 500px;
  position:relative;
  left: 10%;
  top: -50%;

}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content-main{
 background-image: linear-gradient(45deg, #7950f2 5%, #da77f2 95%, #4dabf7 95%, #a9e34b 98%);
  width: 100%;
  height: 656px;
  display:inline-block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.content-main::after{
  content: "";
  display: table;
  clear: both;
}
.contenar1{
  float: left;
  width:33%;


}
.contenar2{
  float:left;
  width:40%;
  top:10%;
  left: 50%;
  position: absolute;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;

  
}
.contenar2 h1{
margin-top: 30px;
padding-top: 30px;
}
  .contenar2 p{
    margin-top: 70px ;
  }

.box img:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box img{
  width: 100px;
  border-radius: 50%;
  padding: 20px;
  transition: all 0.7s;
 
  
}
.box{
  float: left;
  position: absolute;
  display: inline;
  left: 60%;
  top:55%;
  border-bottom: 1px solid rgb(170, 242, 25);
  
}
.sv{
  width: 100%;
  position: relative;
  top: -34px;
}
#parent::after{
  content: "";
  display:table;
  clear: both;

}
.card{
  float:left;
  width: 31%;
  margin-left: 25px;
  margin-top: 50px;
  height: 300px;
  padding: 10px;
  outline: none !important;
  border:none !important;
 border-radius:20px !important;
  overflow: hidden;
 background-image: linear-gradient(45deg, #7950f2 5%, #da77f2 95%, #4dabf7 95%, #a9e34b 98%);
box-shadow: rgba(9, 1, 1, 0.317) 0px 5px 15px;
transition: all 0.5s;
color: #f2f2f2;

}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top:20px;
  border-radius: 30px;
  
}
.card img{
  margin-left:30%;
  margin-right:50%;
  padding: 10px;
  border-radius: 50%;
  background-color: #7ca9f7;
  transition: all 0.5s;
 
}
.card img:hover{
   filter: drop-shadow(0 0 0.75rem crimson);
}
#parent{
margin-top:-42px;
width: 100%;
background-color:#F361DB!important;
height: 400px;

}
.container{
  text-align: center;
  margin-top: 10px;
}